#slide1 {
  max-width: 600px;
  width: 80vw;
}

.c-card {
  color: white;
}

.c-card__content {
  padding-right: 8px;
  padding-left: 8px;
}

/* ******************************* */
body {
  margin: 0;
  display: grid;
  place-content: center;
  min-height: 100dvh;
  background: #202f55;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

* {
  box-sizing: border-box;
}
